/**
 * view/general styles
 */

.profile #item-nav,
.profile #sidebar {
  display: none !important;
}

.profile #content {
  float: none;
  width: 100%;
}

.profile #item-header {
  display: flex;
}

.profile #item-header-avatar {
  flex: 1;
}

.profile #item-header-avatar .avatar {
  float: none;
  margin: 0;
}

.profile #item-header #item-header-content {
  display: flex;
  flex: 4;
  margin: 0 1em;
}

.profile #item-main {
  flex: 1;
  margin-left: 1em;
}

.profile #item-main h4 {
  margin-top: 0;
}

.profile #item-meta {
  flex: 1;
  text-align: right;
}

.profile #item-meta .current {
  display: none;
}

.profile #item-meta #item-buttons > div > a {
  line-height: 1em;
}

.profile #profile-main form {
  display: flex;
}

.profile #profile-main .left {
  flex: 1;
}

.profile #profile-main .right {
  flex: 2;
}

.profile #profile-main .left > div,
.profile #profile-main .right > div {
  padding: 1em;
  background-color: #fafafa;
}

.profile #profile-main .left > div {
  margin: 1em 0.5em 1em 0;
}

.profile #profile-main .right > div {
  margin: 1em 0 1em 0.5em;
}

.profile #profile-main .left > div h4,
.profile #profile-main .right > div h4 {
  margin: 0 0 0.5em;
}

.profile .recent-commons-activity li:first-letter {
  text-transform: capitalize;
}

.profile h4 {
  color: black;
  font-weight: bold;
}

/**
 * tag-cloud-like lists for interests, groups, sites
 */

.profile .wordblock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile .wordblock li {
  display: block;
  margin: 0.25em 0;
}

.profile .wordblock li a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
}

.profile .wordblock li a:hover {
  text-decoration: underline;
}

.profile #item-header #edit {
  color: #07d;
  margin: 0.5em 0 0;
}

/**
 * edit-specific styles
 */

.profile-edit .synced,
.profile-edit .editable > label,
.profile-edit #profile-main form .radio {
  display: none;
}

.profile-edit .editable {
  position: relative;
}

.profile-edit .visibility {
  position: absolute;
  top: 1em;
  right: 1em;
}

.profile-edit .collapsed > div {
  display: none;
}

.profile-edit .edit-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #cc0033;
  text-align: center;
  z-index: 1;
}

.profile-edit .academic-interests .description {
  margin-bottom: 0.5em;
}

.profile-edit .social input,
.profile-edit .js-basic-multiple-tags {
  width: 100%;
}

/**
 * overrides for other plugins & themes
 */

.action .follow-button a.follow:before {
  content: none;
}
