.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div:first-child {
  width: 70%;
  padding: 10px;
}
.flexbox-container > div:last-child {
  padding: 10px;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
}

.bp-widget.profile > div {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid black;
}

.page-header {
  display: none;
}

#item-header {
  #item-buttons {
    margin-top: 1em;
  }

  #item-header-avatar img.avatar {
    border-radius: 50%;
  }

  #item-header-content {
    margin: 2em 0;
    display: flex;
    width: 100%;

    #item-main {
      flex: 3;
    }
    #item-meta {
      flex: 1;
      text-align: right;
    }
  }

  .generic-button {
    display: inline;
    margin-left: 1em;
  }
}

// body also has class profile
div.profile {
  display: flex;

  // for edit view
  form {
    width: 100%;

    .flex-wrap {
      display: flex;
    }
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 2;
    margin-left: -1em;
  }

  .left,
  .right {
    h4 {
      margin-top: 0;
    }

    .recent-commons-activity {
      div {
        padding: 5px 0 5px 50px;
        background-position: center left;
        background-repeat: no-repeat;
      }

      div.activity_update {
      }
      div.new_blog_post {
      }
      div.new_blog_comment {
      }
      div.created_group {
      }
      div.updated_profile {
      }
      div.new_forum_topic {
      }
      div.new_forum_post {
      }
      div.new_groupblog_post {
      }
      div.added_group_document {
      }
      div.edited_group_document {
      }
      div.bp_doc_created {
      }
      div.bp_doc_edited {
      }
      div.bp_doc_comment {
      }
      div.bbp_topic_create {
      }
      div.bbp_reply_create {
      }
      div.new_deposit {
      }
      div.new_group_deposit {
      }
      div.new_member {
      }
    }

    .commons-groups,
    .commons-sites {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          margin-right: 1em;

          a {
            background-color: #ccc;
            border-radius: 1em;
          }

          a:hover {
            text-decoration: none;
            background-color: #999;
          }
          // each word is wrapped in a span to allow for padding words at the end of lines
          span {
            padding: 0 .25em;
            display: inline-block;
          }
        }
      }
    }

    > div {
      margin: 1em;
      padding: .5em;
      background-color: #eee;
      position: relative;

      .visibility {
        position: absolute;
        top: .5em;
        right: .5em;
      }

      ul {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

// need the value from this to use in js, but no need to display the element
#public-personal-li {
  display: none;
}

.changed {
  background-color: yellow !important;
}

#profile-edit-form {
  .edit-action-bar {
    background-color: yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;

    > div {
      padding: 10px 20px;
    }
  }

  .js-basic-multiple-tags {
    width: 100%;
  }

  .header-fields,
  .radio,
  label {
    display: none;
  }

  .collapsed {
    opacity: .5;

    .wp-editor-wrap {
      display: none;
    }
  }
}
